body {
    font-family: 'Nunito', sans-serif;
    background-color: #202020;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    background-color: #303030;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px;
}

.container.with-title {
    padding-top: 40px;
}

.container.with-title .title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    padding: 10px;
    z-index: 100;
    border: solid 4px white;
}

.container.is-error {
    border: dashed 4px #ff0000;
    padding: 0 10px;
}

.container.is-error {
    color: white;
}

p.title {
    color: black;
}

.balloon {
    background-color: #303030;
    border: solid 2px white;
    border-radius: 10px;
    padding: 10px;
    overflow-x: hidden;
}

.balloon .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.balloon .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #303030;
    min-height: 40px;
    flex-wrap: nowrap !important;
}

#errorMessage {
    display: none;
}

#errorMessage.active {
    display: block;
}

#errorMessage button {
    margin: 10px;
}

.side-panel {
    position: absolute;
    inset: 0;
    z-index: 101;
    width: 300px;
    background-color: #303030;
    border-right: 4px solid #ffffff;
    display: flex;
    flex-direction: column;
    transition: width 0.2s ease;
}

.side-panel .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: visible;
}

.toggle-panel {
    background-color: #4a4a4a;
    border: none;
    color: #ffffff;
    padding: 0 12px;
    cursor: pointer;
    margin: 12px !important;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    margin: 10px auto;
    margin-bottom: 0;
}

.workspace .input-container {
    width: 50%;
}

#sidePanelContent {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    max-height: 94vh;
    overflow: auto;
}

.message {
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    word-wrap: break-word;
}

.message.-left {
    background-color: #4a4a4a;
    align-self: flex-end;
}

.message.-right {
    background-color: #606060;
    align-self: flex-start;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    margin: 0 5px;
    font-family: inherit;
    resize: none;
    min-height: 80px;
    max-height: 50vh;
    width: auto;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px double #404040;
}

.message-input:focus {
    border: 2px solid #209cee;
}

.spacer {
    flex-grow: 1;
}

.toolbar>.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.control-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.control-buttons>button {
    position: relative;
    margin: 5px;
    padding: 0 10px;
    min-width: 45px;
    height: 45px;
    white-space: nowrap;
    background-color: #404040;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.2s;
}

.control-buttons>button:hover {
    background-color: #209cee;
}

.control-buttons>button[data-icon]:hover::before {
    content: attr(data-icon);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    line-height: 25px;
    z-index: 1;
    text-shadow: 0 0 5px #fff;
}


.control-buttons>button:disabled {
    background-color: #606060;
    color: #404040;
    cursor: not-allowed;
}

.file-preview,
.audio-visualizer {
    background-color: #505050;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none;
}

.file-preview .file-preview-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 2px 10px;
    background-color: #404040;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 12px;
}

.file-preview .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    font-size: 12px;
    cursor: pointer;
}

.main-content {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    background-color: #303030;
    border: 4px solid #ffffff;
    border-radius: 10px;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    position: relative;
    display: none;
}

.workspace .main-content {
    display: flex;
}

button.active {
    animation: pulse 1s infinite;
}

#dynamicContent {
    width: 100%;
    min-height: calc(100vh - 260px);
    overflow: visible;
}

#editorContent {
    position: absolute;
    inset: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: left 0.3s ease;
}

#editorContent.open {
    left: 0;
}

button {
    margin: 5px;
    min-width: 45px;
    min-height: 45px;
    white-space: nowrap;
    cursor: pointer;
}

button>span {
    padding-left: 10px;
}

button.is-primary {
    background-color: #209cee;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.2s;
}

button.is-primary:hover {
    background-color: #007bff;
}

a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 2px solid transparent;
    color: #209cee;
    text-decoration: none;
}

a:hover {
    border: 2px solid #209cee;
}

a:visited {
    color: #209cee;
}

.project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    gap: 10px;
    padding: 50px;
    justify-content: center;
}

.project-list>h2 {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;

    margin: 2px 10px;
    width: 450px;
    background-color: #404040;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.2em;
    transition: background-color 0.2s;
}

.project-item>h2 {
    margin: 0;
    padding: 10px;
    font-size: 1em;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

.remove {
    border: 2px dashed #af3333;
    color: #af3333;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

input[type="file"] {
    display: none;
}

.pixelated {
    image-rendering: pixelated;
}

.toolbar button {
    display: none;
}

.workspace .toolbar button {
    display: block;
}

.loading-dialog {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    overflow: auto;
    text-align: center;
    background-color: #303030;
    border: 4px solid #ffffff;
    color: white;
    display: none;
    height: 200px;
}

.loading-dialog.active {
    display: flex;
}

.loading-dialog[data-status]::after {
    content: attr(data-status);
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    animation: fade 2s infinite;
}

.loading-bar {
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid #000;
    margin: 10px 0;
    position: relative;
    display: none;
}

.loading-dialog[data-progress] .loading-bar {
    display: block;
}

.loading-dialog[data-progress] .loader {
    display: none;
}

.loading-bar::before {
    content: '';
    display: block;
    height: 20px;
    background-color: #209cee;
    width: 0;
    transition: width 0.5s;
}

.loading-dialog[data-progress="1"] .loading-bar::before {
    width: 25%;
}

.loading-dialog[data-progress="2"] .loading-bar::before {
    width: 50%;
}

.loading-dialog[data-progress="3"] .loading-bar::before {
    width: 75%;
}

.loading-dialog[data-progress="4"] .loading-bar::before {
    width: 100%;
}

@keyframes fade {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.loader {
    margin: auto;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-top: 5px solid #0ff;
    border-radius: 50%;
    animation: spin 1s linear infinite, color-change 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes color-change {
    0% {
        border-top-color: #0ff;
    }

    33% {
        border-top-color: #f0f;
    }

    66% {
        border-top-color: #ff0;
    }

    100% {
        border-top-color: #0ff;
    }
}

@media screen and (max-width: 768px) {

    .spacer {
        display: none;
    }

    .side-panel {
        width: 100%;
    }

    .workspace .input-container {
        width: 100%;
    }

    .project-list {
        padding: 0;
        padding-top: 10px;
        width: 100%;
    }

    .project-item {
        width: 100%;
    }

    .project-item button {
        opacity: 1;
    }

    .input-container {
        width: 100%;
    }

    .message-input {
        margin: 0 10px;
        margin-bottom: 10px;
    }

    #editButton span {
        display: none;
    }
}