body {
    font-family: 'Nunito', sans-serif;
    background-color: #202020;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #209cee;
}

a:hover {
    color: #209cee;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    background-color: #303030;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px;
}

.container.with-title {
    padding-top: 40px;
}

.container.with-title .title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    padding: 10px;
    z-index: 100;
    border: solid 4px white;
}

.container.is-error {
    border: dashed 4px #ff0000;
}

.container.is-error {
    color: white !important;
}

.is-primary {
    color: #209cee;
}

.is-error {
    color: #ff0000;
}

.is-centered {
    text-align: center;
}

p.title {
    color: black;
}

.balloon {
    background-color: #303030;
    border: solid 2px white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.balloon .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.balloon .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.toolbar {
    display: flex;
    gap: 6px;
    background-color: #303030;
    border-bottom: solid 2px white;
    position: sticky;
    top: 0;
    z-index: 100;
}

#errorMessage button {
    margin: 10px;
}

.side-panel {
    position: absolute;
    inset: 0;
    z-index: 101;
    width: 300px;
    background-color: #303030;
    border-right: 4px solid #ffffff;
    display: flex;
    flex-direction: column;
    transition: width 0.2s ease;
}

h2.title {
    padding-top: 5px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toggle-panel {
    background-color: #4a4a4a;
    border: none;
    color: #ffffff;
    padding: 0 12px;
    cursor: pointer;
    margin: 12px !important;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    margin: 10px auto;
}

.workspace .input-container {
    width: 100%;
}

#sidePanelContent {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    max-height: 94vh;
    overflow: auto;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.message.-left {
    background-color: #4a4a4a;
    align-self: flex-end;
    margin-left: auto;
}

.message.-right {
    background-color: #606060;
    align-self: flex-start;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    margin: 0 10px;
    font-family: inherit;
    resize: none;
    min-height: 30px;
    width: auto;
    border: 4px solid #209cee;
    border-radius: 10px;
    margin-bottom: 10px;
}

.spacer {
    flex-grow: 1;
}

.send-button {
    margin-left: 10px;
    align-self: flex-end;
    white-space: nowrap;
}

.control-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    background-color: #404040;
    min-height: 50px;
}

.control-buttons>label {
    line-height: 45px;
    padding: 0 10px;
}

.control-buttons>button,
.control-buttons>label {
    margin: 5px;
    min-width: 45px;
    min-height: 45px;
    white-space: nowrap;
    background-color: #404040;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.2s;
}

.control-buttons>button:hover,
.control-buttons>label:hover{
    background-color: #505050;

}

.file-preview,
.audio-visualizer {
    background-color: #505050;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none;
}

.toolbar button {
    background-color: white;
}

#menuButton {
    display: none;
}

#menuButton {
    position: fixed;
    top: 0;
    left: 0;
}

.main-content {
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding-left: 60px;
    position: relative;
    display: none;
}

.workspace .main-content {
    display: flex;
}

.main-content .toolbar::before {
    content: '';
    background-color: #303030;
    border-bottom: solid 2px white;
    position: absolute;
    top: 0;
    left: -60px;
    bottom: -2px;
    width: 60px;
    z-index: -1;
}

#dynamicContent {
    width: 100%;
    height: 100%;
    overflow: none;
}

#editorContent {
    position: absolute;
    inset: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 40px);
    left: 100%;
    transition: left 0.3s ease;
}

#editorContent.open {
    left: 0;
}

.main-content {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    background-color: #303030;
    border: 4px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
}

button {
    margin: 5px;
    min-width: 45px;
    min-height: 45px;
    white-space: nowrap;
}

.project-list {
    align-self: center;
    max-width: 500px;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.project-item button {
    min-height: 25px;
}

.project-item>*:first-child {
    flex-grow: 1;
}

.project-item>*:first-child:hover {
    background-color: #209cee;
}

.remove {
    border-radius: 50%;
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding: 0;
    opacity: 0;
}

.project-item:hover .remove {
    opacity: 1;
}

.pixelated {
    image-rendering: pixelated;
}

.loading-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-height: 70vh;
    overflow: auto;
    text-align: center;
    background-color: #303030;
    border: 4px solid #ffffff;
    color: white;
}

.loading-dialog::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.loading-dialog[data-status]::after {
    content: attr(data-status);
    font-size: 1.2em;
    animation: fade 2s infinite;
}

.loading-bar {
    width: 100%;
    background-color: #e0e0e0;
    border: 1px solid #000;
    margin: 10px 0;
    position: relative;
    display: none;
}

.loading-dialog[data-progress] .loading-bar {
    display: block;
}

.loading-dialog[data-progress] .loader {
    display: none;
}

.loading-bar::before {
    content: '';
    display: block;
    height: 20px;
    background-color: #209cee;
    width: 0;
    transition: width 0.5s;
}

.loading-dialog[data-progress="1"] .loading-bar::before {
    width: 25%;
}

.loading-dialog[data-progress="2"] .loading-bar::before {
    width: 50%;
}

.loading-dialog[data-progress="3"] .loading-bar::before {
    width: 75%;
}

.loading-dialog[data-progress="4"] .loading-bar::before {
    width: 100%;
}

@keyframes fade {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.loader {
    margin: auto;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    border-top: 5px solid #0ff;
    border-radius: 50%;
    animation: spin 1s linear infinite, color-change 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes color-change {
    0% {
        border-top-color: #0ff;
    }

    33% {
        border-top-color: #f0f;
    }

    66% {
        border-top-color: #ff0;
    }

    100% {
        border-top-color: #0ff;
    }
}

@media screen and (max-width: 768px) {

    #downloadContent span {
        display: none;
    }

    .control-buttons>label {
        line-height: 100%;
    }

    .spacer {
        display: none;
    }

    .side-panel {
        width: 100%;
    }

    #menuButton {
        display: block;
    }
}